.DS_Store
*/target/*
.classpath
.project
.settings/
target/
.externalToolBuilders/
.idea
.idea/*
*.iml
node_modules
npm-debug.log
yarn.lock
.env
app.log
!/public/dist/
tmp
package-lock.json
mysql.json
pm2.config.js
